
body {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #e0e1dd;
    color: black;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
}